.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6a35b7, #1500ff);
    color: #fff;
  }
  
  .login-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .login-container p {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .social-buttons button {
    margin: 0.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #4b287c;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .social-buttons button:hover {
    background-color: #f0e130;
    transform: scale(1.1);
  }
  
  .social-buttons button:active {
    transform: scale(0.95);
  }
  