.header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Ensure it stays above other components */
}

.header-menu {
  position: absolute;
  top: 30px; /* Adjust downward from the top edge */
  left: 30px; /* Adjust rightward from the left edge */
  z-index: 1000; /* Ensure visibility above other elements */
}


.hamburger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pie {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #000;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.pie-color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.pie1 {
  top: -100px;
  left: -100px;
  background: linear-gradient(135deg, #f12711, #f5af19);
}

.pie2 {
  top: -100px;
  left: 100px;
  background: linear-gradient(135deg, #444, #7e84f9);
}

.pie3 {
  top: 100px;
  left: -100px;
  background: linear-gradient(135deg, #444, #b7e13f);
}

.pie.visible {
  transform: scale(1); /* Scale up when active */
}
